.jumbotron {
  background-color: #e8f0f8;
  color: black;
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 40px;
}
.jumbotron-end {
  background-color: #e8f0f8;
  color: black;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}
.btn-look {
  width: 100%;
}
.footer {
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-inmo {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
}
.card-texted {
  line-height: 150%;
  font-variant-ligatures: normal;
  font: small-caps 200%/100% serif;
  font-family: monospace;
  font-style: italic;
}
.slider {
  height: 40vh;
}
.sizer {
  height: 500px;
  width: 500px;
}
.fondo {
  background-image: url(../images/fondo.png);
  background-size: cover;
}
.title_quest {
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: arial, web-safe fonts;
}
.jumbo_style {
  padding-top: 0.1%;
  background-image: url(../images/fondo.png);
  margin-top: 35px;
  margin-bottom: 0px;
}
.font_inmo {
  font-family: arial, web-safe fonts;
  font-size: 25px;
  margin: 1px;
  text-align: center;
}
.tab_style {
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: bold;
}
.icon_style {
  background-color: gray;
  opacity: 60%;
}
