.jumbotron {
  background-color: #e8f0f8;
  color: black;
  margin-top: 60px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.jumbotron-end {
  background-color: #e8f0f8;
  color: black;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center; }

.jumbo_style {
  background-image: url(../images/fondo.png);
  margin-top: 35px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px; }

.container {
  margin-top: 50px; }

.btn-look {
  width: 100%; }

.footer {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px; }

.card-inmo {
  flex: 1 150px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  text-align: center; }

.card-texted {
  line-height: 150%;
  font-variant-ligatures: normal;
  font: small-caps 200%/100% serif;
  font-family: monospace;
  font-style: italic; }

.slider {
  height: 40vh; }

.sizer {
  height: 500px;
  width: 500px; }

.fondo {
  background-image: url(../images/fondo.png);
  background-size: cover;
  padding-top: 40px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px; }

.title_quest {
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: arial, web-safe fonts; }

.font_inmo {
  font-family: arial, web-safe fonts;
  font-size: 25px;
  margin: 1px;
  text-align: center; }

.tab_style {
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: bold; }

.icon_style {
  background-color: #c9c9c9;
  opacity: 60%; }
