@color1: #e8f0f8;
@color2: #c9c9c9;

.margenes (@top: 0px, @bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}
.relleno (@top, @right, @bottom, @left){
	padding-top: @top;
	padding-rith: @right;
	padding-bottom: @bottom;
	padding-left: @left;
}
.jumbotron {
	background-color: @color1;
	color: black;
	.margenes(60px, 0px);
	.relleno(40px, 0px, 0px, 0px);
}
.jumbotron-end{
	background-color: @color1;
	color: black;
	.margenes(20px, 0px);
	text-align: center;
}
.btn-look {
	width: 100%;
}
.footer {
	.relleno(10px, 10px, 0px, 10px);
	.margenes(10px, 0px);
}
.card-inmo {
	flex: 1 150px;
	.relleno(2px, 5px, 2px, 5px);
	.margenes(8px, 10px);
	text-align: center;
}
.card-texted{
	line-height: 150%;
	font-variant-ligatures: normal;
	font: small-caps 200%/100% serif;
	font-family: monospace;
	font-style: italic;
}
.slider{
	height: 40vh;
}
.sizer{
	height: 500px;
	width: 500px;
}
.fondo{
  background-image: url(../images/fondo.png);
  background-size: cover;
  .relleno(40px, 0px, 30px, 0px);
}
.title_quest{
	.margenes(50px, 25px);
	font-family: arial, web-safe fonts;
}
.jumbo_style{
	background-image: url(../images/fondo.png);
	.margenes(35px, 0px);
	.relleno(0.1%, 0px, 0px, 0px);
}
.font_inmo{
	font-family: arial, web-safe fonts;
	font-size: 25px;
	margin: 1px;
	text-align: center;
}
.tab_style{
	color:  white;
	.margenes(20px, 0px);
	font-size: 15px;
	font-weight: bold;
} 
.icon_style{
	background-color:  @color2;
	opacity: 60%;
}