$color1: #e8f0f8;
$color2: #c9c9c9;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin relleno ($top, $right, $bottom, $left){
	padding-top: $top;
	padding-right: $right;
	padding-bottom: $bottom;
	padding-left: $left;
}
.jumbotron {
	background-color: $color1;
	color: black;
	@include margenes(60px, 0px);
	@include relleno(40px, 0px, 0px, 0px);
}
.jumbotron-end{
	background-color: $color1;
	color: black;
	@include margenes(20px, 0px);
	text-align: center;
}
.jumbo_style{
	background-image: url(../images/fondo.png);
	@include margenes (35px, 0px);
	@include relleno(20px, 0px, 20px, 0px);
}
.container{
	margin-top: 50px;
}
.btn-look {
	width: 100%;
}
.footer {
	@include margenes (10px, 0px);
	@include relleno(10px, 10px, 0px, 10px);
}
.card-inmo {
	flex: 1 150px;
	@include margenes(8px, 10px);
	@include relleno(2px, 5px, 2px, 5px);
	text-align: center;
}
.card-texted{
	line-height: 150%;
	font-variant-ligatures: normal;
	font: small-caps 200%/100% serif;
	font-family: monospace;
	font-style: italic;
}
.slider{
	height: 40vh;
}
.sizer{
	height: 500px;
	width: 500px;
}
.fondo{
  background-image: url(../images/fondo.png);
  background-size: cover;
  @include relleno(40px, 0px, 30px, 0px);
}
.title_quest{
	@include margenes (50px, 25px);
	font-family: arial, web-safe fonts;

}
.font_inmo{
	font-family: arial, web-safe fonts;
	font-size: 25px;
	margin: 1px;
	text-align: center;
}
.tab_style{
	color:  white;
	@include margenes(20px, 0px);
	font-size: 15px;
	font-weight: bold;
} 
.icon_style{
	background-color: $color2;
	opacity: 60%;
}
